.singleBook{
    display: flex;
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #acadbb;
    /* width: 300px; */
    height: 100%;
    padding: 20px;
    border-radius: 5px;
}
.singleBook img{
    width: 200px;
    height: 200px;
    object-fit: cover;
}
.singleBook article {
    margin-top: 15px;
    color: #696e77;
    height: 24px;
}

.singleBook p {
    color: #6f808f;
    margin-top: 4px;
    /* border: 1px darkblue; */
    height: 100px;
    text-align: center;
}



.singleBook h3 {
    color: #576666;
    font-size: 25px;
    margin-top: 9px;
    height: 60px;
    text-align: center;
}
.singleBook h2 {
    color: #576666;
    font-size: 25px;

   
    text-align: center;
}
.imagediv{
    height: 220px;
}
.button{
    display: flex;
justify-content: center;
align-items: center;
padding: 2px;
}
.button button{
    border: 1px solid;
    padding: 3px;
    width: 102px;
    margin: 15px;
}