.LoginForm{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:50px;
    height: 85vh;
    
    }
    Form {
        border: 1px solid #d6d6d6;
        padding: 20px;
        border-radius: 5px;
    }