.LoginForm{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:50px;
    
    }
    Form {
        border: 1px solid #d6d6d6;
        padding: 20px;
        border-radius: 5px;
    }
    .SendOtpButton{
        margin-top: 7px;
      }